# JetBrains IDEs (IntelliJ IDEA, PyCharm, WebStorm, etc.)
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# VSCode
.vscode/
*.code-workspace
.history/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
/[Dd]ebug/
/[Dd]ebugPublic/
/[Rr]elease/
/[Rr]eleases/
/x64/
/x86/
/[Ww][Ii][Nn]32/
/[Aa][Rr][Mm]/
/[Aa][Rr][Mm]64/
/bld/
/[Bb]in/
/[Oo]bj/
/[Ll]og/
/[Ll]ogs/

# bin and obj folders
bin/
obj/